@import "tailwindcss";
@plugin "daisyui";

@font-face {
    font-family: satoshi;
    src: url('/public/fonts/Satoshi-Regular.woff') format('woff');
    font-display: swap;
}

@theme {
    --font-satoshi: satoshi, 'sans-serif'
}

@layer base {
    body {
        @apply font-satoshi;
    }
}
.pdf-mode * {
  /* box-shadow: none !important; */
  border: none !important;
  /* outline: none !important; */
  filter: none !important;
}



/* url('/src/assets/fonts/Satoshi-Regular.woff') format('woff'); */


/* For pdf generation */
.pdf-page {
  width: 794px;      /* A4 width @ 96 DPI */
  height: 1123px;    /* A4 height @ 96 DPI */
  background: white;
  padding: 40px;
  box-sizing: border-box;
}
